body {
	margin-top: 120px;
	background-color: #13294A;
}
h1 {
	font-weight: bolder;
	font-stretch: expanded;
	font-size: 50px;
}
i:hover, a:hover {
	background-color: antiquewhite;
	border-radius: 5px;
}

